.background-grey {
  // background-color: #F3F3F3;
  background-color: #E5E5E5;

}


#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;



.wrapper {
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.spacement a{
  margin-left: 14px;
  margin-right: 10px;
  
}
.software-engineer{
  
  color: #606060;
  
}

.typing-demo{
  width: 40ch;
  animation: typing 2s steps(63),
  blink .2s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 4.25em;
  // font-family: monospace;
}

@media screen and (max-width: 1227px) {
  .typing-demo{
    width: 42ch;
    animation: typing 2s steps(63),
    blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 3em;
    // font-family: monospace;
  }
  .software-engineer{
  
    font-size: 0.9em;
    
  }

} 


@media screen and (max-width: 1009px) {
  .typing-demo{
    width: 45ch;
    animation: typing 2s steps(63),
    blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2.6em;
    // font-family: monospace;
  }
  .software-engineer{
  
    font-size: 0.8em;
    
  }
} 

@media screen and (max-width: 865px) {
  .typing-demo{
    width: 45ch;
    animation: typing 2s steps(63),
    blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2.0em;
    // font-family: monospace;
  }
  .software-engineer{
  
    font-size: 0.7em;
    
  }
} 

@media screen and (max-width: 790px) {
  .typing-demo{
    width: 53ch;
    animation: typing 2s steps(50),
    blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.7em;
    // font-family: monospace;
  }
}

@media screen and (max-width: 480px) {
  .typing-demo{
    width: 75ch;
    animation: typing 2s steps(70),
    blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1.3em;
    // font-family: monospace;
  }
}

// @media screen and (max-width: 490px) {
//   .typing-demo  {
//     font-size: 1.3em;
//   }
// } 

// @media screen and (max-width: 400px) {
//   .typing-demo  {
//     font-size: 1.1em;
//   }
// } 

// @media screen and (max-width: 390px) {
//   .typing-demo  {
//     font-size: 1.0em;
//   }
  
// } 

// @media screen and (max-width: 362px) {
//   .typing-demo  {
//     font-size: 0.9em;
//   }
  
// } 

// @media screen and (max-width: 332px) {
//   .typing-demo  {
//     font-size: 0.75em;
//   }
// } 



@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

  // Set position sticky so the jumbotron stays fixed while you scroll.
  // position: sticky;

  // If you want to set a background image on the hero section, uncomment these with your custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

 